/* ViewAllProducts.css */

body {
  background-color: rgb(27, 26, 26);
  color: white;
}

table {
  border-collapse: collapse;
  width: 80%;
}

th, td {
  border: 1px solid white;
  padding: 6px;
  text-align: left;
}

th {
  background-color: rgb(41, 66, 41);
  color: white;
}

td {
  background-color: black;
}

h2 {
  color: white;
}

a {
  color: green;
}
